#timer-wrapper {
  background: skyblue;
  margin: 200px auto;
  padding: 50px;
}

#timer {
  background: whitesmoke;
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  width: 50%;
}

#buttons {
  margin: auto;
  width: 50%;
  text-align: center;
}

#buttons button {
  font-size: 1.5rem;
}