html {
  color: whitesmoke;
  font: 16px black normal helvetica, arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
}

main {
  background-color: #6CBAF6;
  border-radius: 6px;
  margin: 50px auto 0px auto;
  padding: 20px;
  width: 40%;
}

.add-item {
  font-weight: bold;
}

.add-item h2 {
  font-size: 1.3rem;
  margin-top: 10px;
}

.add-item input {
  display: block;
  font-family: helvetica;
  font-size: 1.2rem;
  height: 2rem;
  margin-top: 2px;
  margin-bottom: 15px;
}

#item-name, .add-item button {
  width: 100%;
}

#item-quantity {
  width: 18%;
}

.add-item button {
  background-color: #FFAEAE;
  border-color: whitesmoke;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  padding: 10px;
}

.item-list h2 {
  margin-top: 40px;
  text-align: center;
  text-decoration: underline;
}

.item-list ul {
  font-size: 1.2rem;
  width: 90%;
}

.item-list li {
  border-bottom: 1px solid lightgray;
  padding: 8px;
}

ul li:last-child {
  border-bottom: none;
}
