@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

html {
  color: #333;
  font: 16px Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.7);
}

.calculator {
  animation: slide-in 2.4s forwards;
  background-color: #b0b0b0;
  border: 1px solid #888;
  border-radius: 5px;
  left: 50%;
  margin: auto;
  padding: 15px;
  position: absolute;
  top: -467px;
  transform: translate(-50%);
  width: 300px;
}

.window {
  background-color: #fefefe;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 1px 1px 2px #888;
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-bottom: 1px;
  padding: 10px;
  text-align: right;
  width: 100%;
}

.operations {
  font-size: 14px;
  height: 14px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.entry {
  color: #4a4a4a;
  font-size: 2rem;
  margin-top: auto;
}

.buttons {
  background-color: #b8b8b8;
  border-radius: 0 0 5px 5px;
  color: #dfdfdf;
  display: grid;
  grid-auto-rows: 50px;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons * {
  align-items: center;
  background-color: #999;
  cursor: default;
  display: flex;
  justify-content: center;
}

.dot {
  font-size: 20px;
}

.width-test {
  position: absolute;
  left: -1000px;
  white-space: nowrap;
}

@keyframes slide-in {
  41.7% {
    top: 100px;
  }

  58.3% {
    top: -84px;
  }

  75% {
    top: 100px;
  }

  83.3% {
    top: 8px;
  }

  91.7% {
    top: 100px;
  }

  95.8% {
    top: 54px;
  }

  100% {
    top: 100px;
  }
}
