html {
  font: 16px black Helvetica, Arial, sans-serif;
}

body {
  background: green;
  padding: 70px;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form {
  background: white;
  padding: 20px;
}

dt {
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.2rem;
  height: 1.2rem;
  margin-right: 10px;
  padding: 0.5rem;
  width: 30%;
}

button {
  background: green;
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 5px 10px;
}

span {
  color: crimson;
}

:focus-visible {
  outline: 1px solid green;
}

.error {
  outline: 1px solid crimson;
}

[name="card"] {
  margin-right: 0;
  text-align: center;
  width: 3rem;
}

#form-data-message {
  background: white;
  font-size: 1.2rem;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  word-break: break-all;
}