body {
  background: #999900;
}

h1 {
  text-align: center;
  color: #fff;
}

#lang-list {
  box-sizing: border-box;
  padding: 20px;
  width: 600px;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
}

dd {
  margin-left: 0;
}

a {
  background: #990;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 90px;
  border-radius: 4px;

}

.hidden {
  display: none;
}

